.animated-heading {
  animation: animatedBackground 5s ease infinite alternate;
  background: linear-gradient(90deg, #ffcc00, #ff9900);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

@keyframes animatedBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
